# Gradle project-specific cache directory
.gradle

# Gradle build output directory
build/

# Eclipse build output directory
bin/

# Eclipse config
.classpath
.project
.settings/

# jextract downloaded resources
lib/

# generated headers
gen/